.dhtmlx_message_area {
    position: fixed;
    right: 5px;
    width: 250px;
    top: 0;
    z-index: 10000;
    
    .dhtmlx-info {
        min-width: 120px;
        padding: 4px 4px 4px 20px;
        font-family: Tahoma;
        z-index: 10000;
        font-size:14px;
        text-align: center;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;

        .success {
            background-color: #69b165;
            box-shadow: 0px 0px 10px #69b165;

        }
        .error{
            background-color: #c54545;
            box-shadow: 0px 0px 10px #c54545;
        }  
    
        div{
            padding: 15px 10px 15px 10px;
            border-radius:3px;
            color: white;
        }      
    }    
}