.search-box {
    align-items: center;
    display: flex;
    justify-content: center;
}
table {
    width: 100%;
    img {
        width: 52px;
        border: 3px #ccc solid;
    }
    tr {
        cursor: pointer;
    }
    td {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}
.mat {
    &-button-base {
        margin-bottom: 0.338em;
        box-shadow: none;
    }
    &-form-field {
        width: 50%;
        &-infix {
            position: relative;
            border: none !important;
        }
        &-wrapper {
            padding-bottom: 0 !important;
        }
    }
    &-list {
        &-base {
            position: absolute;
            width: 100%;
            background: white;
            height: 100px;
            overflow: auto;
            margin-top: 0;
            z-index: 1;
        }
        &-item {
            font-size: 13px;
            height: 20px !important;
            cursor: pointer;
            &:hover {
                background: #bbbbbb;
                color: white;
            }
        }
    }
    &-table {
        box-shadow: none;
    }
}
.section {
    margin-top: 30px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.spiner {
    &-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #e4e2e2;
        z-index: 10;
        opacity: 0.3;
        display: flex;
        align-items: center;
    }
    &-open {
        position: absolute;
        z-index: 12;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}